/*
	cor: #5c0f8b; - rocha
	cor: #f16223; - laranja

	transparent linear-gradient(270deg,#fff,#efefef)
	background: transparent linear-gradient(144deg,#5c0f8b,#301555)
	<div>
					<a href="#" class="btn" id="botao_slide">Sabe mais aqui ></a>
				</div>
 */

 /*Estilos aplicados a todo o corpo do site*/
*{
	margin: 0;
	padding: 0;
}
body{
	overflow-x: hidden;
}
#vazio{
	height: 25px;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}


/*Estilos aplicados ao menu do site*/
#menu{
	height: 95px;
	background-color: #ffffff;
}
#menu_esq{
	display: flex;
	align-items: center;
	justify-content: center;
	padding-left: 30px;
	padding-right: 30px;
}
#menu_centro{
	box-sizing: border-box;
	height: 100%;
}
.menu_centro_item{
	height: 50%;
}
#menu_centro_top{
	background: transparent linear-gradient(270deg,#fff,#efefef);
	height: 100%;
	display: flex;
	align-items: center;
}
#menu_centro_top li a{
	font-size: 11px;
	padding-left: 28px;
	color: #5c0f8b;
	font-family: Arial,Helvetica,sans-serif;
}
#menu_centro_top li:hover a{
	color: #f16223;
	font-weight: bold;
}
#menu_centro_top li: a{

}
.menu_centro_item #menu_centro_botton{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
}
.menu_centro_item #menu_centro_botton .botton_items{
	display: flex;
	flex-flow: row wrap;
	align-content: center;
	align-items: center;
	padding: 10px;
}
.menu_centro_item #menu_centro_botton .botton_items .sub_menu{
	position: absolute;
	background-color: #efefef;
	top: 95px;
	left: 0;
	height: 45px;
	width: 100%;
}
.menu_centro_item #menu_centro_botton .botton_items a{
	color: #5c0f8b;
	font-family: intro_boldregular,Arial,Helvetica,sans-serif;
	font-weight: bold;
	font-size: 13px;
}
.menu_centro_item #menu_centro_botton #item_1{
	margin-left: -10px;
}
#menu_centro_botton .botton_items .sub_menu{
	display: none;
}
#menu_centro_botton .botton_items:hover .sub_menu{
	display: flex;
	align-items: center;
	justify-content: center;
}
#menu_centro_botton .botton_items .sub_menu .sub_menu_items{
	padding: 10px;
	color: #5c0f8b;
	font-size: 12px;
	font-weight: bolder;
}
#menu_dir{
	height: 100%;
}
#item_pesquisa{
	background-color: #ffffff;
	display: flex;
	align-items: flex-end;
	padding-bottom: 10px;
}
#btn_pesquisa svg{
	color: #5c0f8b;
}
#item_login{
	background: transparent linear-gradient(144deg,#5c0f8b,#301555);
}
#item_login a{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}
#item_login a svg, span{
	color: #f16223;
}
#item_login a span{
	font-size: 13px;
}


/*Estilos aplicados ao carrossel*/
#imagens_carrossel{
	height: 365px;
}
.img_size{
	max-width: 100%;
}
#botao_slide{
	color: #f16223;
	background-color: #5c0f8b;
	position: absolute;
	margin-left: 180px;
	margin-top: 230px;
	font-weight: bold;
}
#botao_slide:hover{
	background-color: #3e0a5d;
}


/*Estilos aplicados ao rodape 1*/
.rodape{
	height: 100px;
	background-color: #f16223;
	padding-left: 200px;
	padding-right: 200px;
}
.rodape_item{
	display: flex;
	align-items: center;
	justify-content: center;
}
.rodape_item a span, svg{
	color: #fff;
}
.rodape_item:hover a span,.rodape_item:hover a svg{
	color: #5c0f8b;
}
.rodape_item:hover{
	cursor: pointer;
}
.aplicaBordasInRight{
	border-right-width: thin;
	border-right-color: linear-gradient(45deg,#f16223,#d44a0d);
	border-right-style: solid;
}


/*Estilos aplicados ao texto acima da area dos cards e aos h2 nos cards*/
#texto{
	margin-left: 205px;
	margin-bottom: 30px;
	text-transfor: uppercase;
}
h2{
	color: #5c0f8b;
	font-weight: bold;
}


/*Estilos aplicados a area dos cards*/
#plano-mais{
	margin-left: 195px;
}
#plano-mais-card{
	padding: 30px;
}
#plano-mais-card div div p{
	font-family: intro_lightregular,Arial,Helvetica,sans-serif;
	font-size: 15px;
	color: #656565;
}
#content_do_Cartao_1{
	display:flex;
	justify-content:flex-end;
}
.cartao_item:hover{
	cursor: pointer;
	box-shadow: 4px 4px 12px #000;
}
.cartao_item div h3{
	font-family: intro_bookregular,sans-serif;
	font-weight: bold;
	color: #5c0f8b;
}
.cartao_item div p{
	font-family: intro_lightregular,Arial,Helvetica,sans-serif;
	font-size: 15px;
	color: #656565;
}
.botao_cartao{
	color: #f16223;
	background-color: #5c0f8b;
}
.cartao_item:hover .botao_cartao{
	color: #fff;
	background-color: #f16223;
}
#plano-mais #plano-mais-card .card .card-body #botao_cartao_1{
	color: #f16223;
	background-color: #5c0f8b;
}
#plano-mais #plano-mais-card .card .card-body #botao_cartao_1:hover{
	background-color: #3e0a5d;
}

/*Estilos aplicados a area do texto flutuante*/
#texto_flutuante{
	position: absolute;
	width: 400px;
	left: 355px;
	top: 1650px;*/
}
#titulo-de-texto-flutuante{
	color: #f16223;
	font-size: 46px;
}
#corpo-de-texto-flutuante{
	color: white;
}

/*Estilos aplicados a area de equipamentos*/
#texto-equi{
	text-align: center;
	color: #5c0f8b;
	font-size: 50px;
}
/**/
#myTab{
	display: flex;
	justify-content: center;
}
.item_tab{
	width: 35%;
}
#home-tab{
	width: 100%;
}
#profile-tab{
	width: 100%;
}
.nav-tabs .nav-item .nav-link.active{
	background-color: #5c0f8b;
	color: #f16223;
	font-weight: bold;
}
.nav-tabs .nav-item .nav-link{
	font-family: intro_lightregular,Arial,Helvetica,sans-serif;
	font-size: 12px;
	color: #5c0f8b;
	border-bottom: thin solid #5c0f8b;
}
.nav-tabs .nav-item .nav-link:hover{
	background-color: #4c4c4c;
	color: #fff;
	font-family: intro_lightregular,Arial,Helvetica,sans-serif;
}
.nav-tabs .nav-item .nav-link.active:hover{
	background-color: #3e0a5d;	
	color: #f16223;
	font-weight: bold;
}
/**/
#myTabContent{
	width: 70%;
}
nav #contentor{
	display: flex;
	justify-content: center;
}


/*Estilos aplicados ao ultimo rodape*/
#rdp_f{
	background-image: linear-gradient(45deg, #5c0f8b, #3e0a5d);
}
#rdp_f_1{
	padding-top: 30px;
	height: 240px;
	margin-left: 275px;
	margin-right: 275px;
}
#rdp_f_2{
	height: 60px;
	margin-left: 160px;
	margin-right: 160px;
	border-top-width: thin;
	border-top-color: rgba(255,255,255,0.1);
	border-top-style: solid;
}
.rdp_item ul li a{
	color: #f16223;
	font-size: 11px;
	line-height: 0.7px;
}
.rdp_item span{
	color: #f16223;
	font-size: 12px;
}
.rdp_item{
	padding-top: 10px;
}
.rdp_item ul li{
	margin-left: -31.5px;
}
.rdp_item ul li a:hover, .rdp_item span:hover{
	color: #d44a0d;
}
#rdp_item_logo{
	padding-top: 80px;
}
#rdp_logo{
	margin-bottom: 20px;
	height: 30px;
}
.icones_rdp a svg{
	color:  #f16223;
}
.icones_rdp a:hover svg{
	color:  #fff;
}
#rdp_f_2_item_1{
	color: #f16223;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 10px;
}
#rdp_f_2_item_2{
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 10px;
}
#rdp_f_2_item_2 ul{
	display: flex;
	align-items: center;
}
#rdp_f_2_item_2 ul li a{
	color: #f16223;
	margin-right: 3px;
}