/*
	cor: #5c0f8b; - rocha
	cor: #f16223; - laranja
 */

 /*Estilos aplicados a todo o corpo do site*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	overflow-x: hidden;
}
#vazio{
	height: 25px;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}


/*Estilos aplicados ao menu do site*/
#logo{
	display: flex;
	align-items: center;
}
#menu-main{
	height: 95px;
}
#login{
	display: flex;
	align-items: center;
	flex-direction: colms;
}
#log{
	background-color: #5c0f8b;
}


/*Estilos aplicados ao carrossel*/
.img_size{
	object-fit: contain;
}


/*Estilos aplicados ao rodape 1*/
#rdp{
	height: 90px;
	background-color: #f16223;
	display: flex;
	justify-content: center;
}


/*Estilos aplicados ao texto acima da area dos cards e aos h2 nos cards*/
#texto{
	margin-left: 205px;
	margin-bottom: 30px;
}
h2{
	color: #5c0f8b;
	font-weight: bold;
}


/*Estilos aplicados a area dos cards*/
#plano-mais{
	margin-left: 195px;
}
#plano-mais-card{
	padding: 30px;
}
#cards-elementos{
	margin-left: 195px;
}
#elemento-card-2{
	padding: 0;
	margin: 0;
}


/*Estilos aplicados a area do texto flutuante*/
#img-texto_flutuante{
	
}
#texto_flutuante{
	position: absolute;
	width: 400px;
	left: 305px;
}
#titulo-de-texto-flutuante{
	color: #f16223;
}
#corpo-de-texto-flutuante{
	color: white;
}

/*Estilos aplicados a area de equipamentos*/
#texto-equi{
	text-align: center;
	color: #5c0f8b;
}