*{
	padding: 0;
	margin: 0;
}
#action-menu{
	align-items: stretch;
}
.logo-menu{
	padding: 30px;
}
#menu-pesquisa{
	display: flex;
}

.img_size{
	height: 350px;
}

.rodape{
	background-color: orange;
}
.rodape a{
	text-decoration: none;
}

h2{
	margin-left: 30px;
	margin-top: 40px;
}

#rodape_final{
	background-color: #5c0f8b;
}